# build = "build.rs"

[package]
edition = "2021"
authors = ["Manuel Sopena Ballesteros <msopena@cscs.ch>", "Miguel Gila <miguel.gila@cscs.ch>"]
name = "manta"
description = "Another CLI for ALPS"
version = "1.54.101"
license-file = "LICENSE"
documentation = "https://github.com/eth-cscs/manta/blob/main/README.md"
homepage = "https://github.com/eth-cscs/manta/blob/main/README.md"
repository = "https://github.com/eth-cscs/manta"
keywords = ["cli", "Cray Management System", "productivity"]
publish = false                                                         # cargo dist --> Avoid publishing to crates.io

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# [build-dependencies]
# clap = "*"
# clap_complete = "*"
# mesa = "*"
# # mesa = { path = "../mesa" } # Only for development purposes
# strum = "*"
# strum_macros = "*"

[dependencies]
csm-rs = "0.43.22"
# csm-rs = { path = "../csm-rs" } # Only for development purposes
hostlist-parser = "0.1.6"
strum = "0.25.0"
strum_macros = "0.25"
chrono = "0.4.41"
anyhow = "1.0.44"
reqwest = { version = "0.11", default-features = false, features = ["blocking", "json", "rustls-tls", "socks"] }
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9.17"
config = { version = "0.13.2", features = [ "toml" ] } # used to read manta configuration file
toml = "0.8.16"
toml_edit = "0.20.2" # used to edit manta configuration file
log = "0.4.17"
log4rs = "1.2.0" # Docs about pattern encoder https://docs.rs/log4rs/0.10.0/log4rs/encode/pattern/index.html
tokio = { version = "1.14", features = ["full"] }
tokio-util = "0.7.4" # used by manta_console to create a read stream from container stdout
# tokio-stream = "0.1.11" # used by manta_console to create a read stream from container stdout (alternative?)
kube = { version = "0.87.2", features = ["kube-client", "kube-runtime", "derive", "rustls-tls", "ws"] }
k8s-openapi = { version = "0.20.0", features = ["v1_26"] }
# kube = { version = "0.85.0", features = [ "client", "runtime", "derive", "rustls-tls", "ws" ] }
# k8s-openapi = { version = "0.19.0" }
# json-patch = "1.4.0"
# hyper = { version = "0.14", features = [ "full" ] } # needed by kube-rs (to operate with kube api)
futures = "0.3.28"
# futures-util = "0.3.24"
clap = { version = "4.3.21", features = ["derive", "cargo", "wrap_help"] }
clap_complete = "4.3.2"
# git2 = { version = "0.18.1" }
# git2 = { version = "0.18.1", features = ["vendored-openssl"] }              # Keep vendored-openssl feature, otherwise CI/CD pipeline will fail building apple images
git2 = { version = "0.18.1", default-features = false, features = ["https", "vendored-openssl"] }              # Keep vendored-openssl feature, otherwise CI/CD pipeline will fail building apple images
dialoguer = "0.11.0"
substring = "1.4.5"
regex = "1.6.0"
directories = "4.0.1"                                                      # XDG Base Directory Specification
comfy-table = "6.1.1"                                                      # used to print mata's command output to stdout as tables
# tracing-subscriber = "0.3.16"
termion = "2.0.1"                                                          # used by manta_console to enable terminal raw and also to print text in color
crossterm = "0.27.0"
# dhat = "0.3.2"                                                             # used for memory profiling
# base64 = "0.13.1"
# exitcode = "1.1.2"
# digest = "0.10.7"
md5 = { version = "0.7.0", features = [] }
humansize = "2.0.0"
indicatif = "0.17.7"
execute = "0.2.13"
is_executable = "1.0.1"
minijinja = { version = "2.4.0", features = ["custom_syntax"] }
uuid = { version = "1.10.0", features = ["v4", "fast-rng"] }
rdkafka = { version = "0.37", features = ["cmake-build"] }

[profile.release]
opt-level = "s" # Tell `rustc` to optimize for small code size.
#incremental = true
debug = 1

#[features]
#dhat-heap = []    # if you are doing heap profiling
#dhat-ad-hoc = []  # if you are doing ad hoc profiling

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

# Config for `cargo release`
[package.metadata.release]
pre-release-hook = [
  "git",
  "cliff",
  "-o",
  "CHANGELOG.md",
  "--tag",
  "{{version}}",
] # [Generates CHANGELOG automatically] (https://github.com/crate-ci/cargo-release/blob/master/docs/faq.md#maintaining-changelog) using [git cliff](https://github.com/orhun/git-cliff) as a dependency
