log = "info"
site = "alps"
parent_hsm_group = "nodes_free"
audit_file = "/tmp/manta_audit.log"
manta_server_url = "https://localhost:8443"
socks5_proxy = "socks5h://127.0.0.1:1080"

[auditor.kafka]
brokers = ["kafka.o11y.cscs.ch:9095"]
topic = "test-topic"
