log = "info"
audit_file = "/var/log/manta/server-audit.log"

[server]
listen_address = "0.0.0.0"
port = 8443
cert = "/etc/manta/tls/server.crt"
key = "/etc/manta/tls/server.key"
console_inactivity_timeout_secs = 1800
auth_rate_limit_per_minute = 60

[sites.alps]
backend = "csm"
# socks5 proxy for all backend traffic to this site
# socks5_proxy = "socks5://127.0.0.1:1080"
shasta_base_url = "https://api.cmn.alps.cscs.ch/apis"
root_ca_cert_file = "alps_root_cert.pem"

[sites.alps.k8s]
api_url = "https://148.187.109.96:6444"

# Some manta commands requires k8s or Gitea credentials. There are 2 ways to provide them:
# - Native: credentials are provided in the config file
# - Vault: credentials are fetched from Vault
# Get both k8s and Gitea credentials from Vault
[sites.alps.k8s.authentication.vault]
base_url = "https://vault.svc.cscs.ch"

# Get both k8s and Gitea credentials in config file (same fashion as kubeconfig)
# [sites.alps.k8s.authentication.Native]
# certificate_authority_data = "--REDACTED"
# client_certificate_data = "--REDACTED--"
# client_key_data = "--REDACTED--"


[sites.prealps]
backend = "csm"
# socks5_proxy = "socks5h://127.0.0.1:1081"
shasta_base_url = "https://api.cmn.prealps.cscs.ch/apis"
root_ca_cert_file = "prealps_root_cert.pem"

[sites.prealps.k8s]
api_url = "https://148.187.29.232:6444"
[sites.prealps.k8s.authentication.vault]
base_url = "https://vault.svc.cscs.ch"


[sites.alpsb]
backend = "csm"
# socks5_proxy = "socks5h://127.0.0.1:1082"
shasta_base_url = "https://api.cmn.alpsb.cscs.ch"
root_ca_cert_file = "alpsb_root_cert.pem"

[sites.alpsb.k8s]
api_url = "https://148.187.9.133:6444"
[sites.alpsb.k8s.authentication.vault]
base_url = "https://vault.svc.cscs.ch"


[sites.alpsm]
backend = "csm"
shasta_base_url = "https://api.cmn.alpsm.cscs.ch/apis"
root_ca_cert_file = "alpsm_root_cert.pem"

[sites.alpsm.k8s]
api_url = "https://10.252.1.2:6442"
[sites.alpsm.k8s.authentication.vault]
base_url = "https://vault.svc.cscs.ch"


[sites.alpse]
backend = "csm"
shasta_base_url = "https://api.cmn.alpse.cscs.ch/apis"
root_ca_cert_file = "alpse_root_cert.pem"

[sites.alpse.k8s]
api_url = "https://10.252.1.2:6442"
[sites.alpse.k8s.authentication.vault]
base_url = "https://vault.svc.cscs.ch"


[sites.ochami]
backend = "ochami"
shasta_base_url = "https://foobar.openchami.cluster:8443"
root_ca_cert_file = "ochami_root_cert.pem"


[auditor.kafka]
brokers = ["kafka.o11y.cscs.ch:9095"]
topic = "events.manta"
